<% content_for :header do %>
  <title><%= @car.meta_title %></title>
  <meta name="description" content="<%= @car.meta_description %>">
<% end %>

<%= @car.image %>
<h1><%= @car.full_name %></h1>
<p>Created on: <%= @car.formatted_created_at %></p>
